:root {
  --brand-primary: #28cb8b;
  --brand-primary-shade: #103e13;
  --brand-primary-tint: #e8f5e9;
  --black-color: #263238;
  --dgrey-color: #4d4d4d;
  --grey-color: #717171;
  --lgrey-color: #89939e;
  --white-color: #ffffff;
  --silver-color: #f5f7fa;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--silver-color);
}

h1,
h2,
h3 {
  color: var(--dgrey-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  color: var(--grey-color);
}

.accent-section {
  background: var(--white-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 14px 32px;
  border: none;
  border-radius: 6px;
}

.green-button {
  background: var(--brand-primary);
  color: var(--white-color);
}

.white-button {
  background: none;
  color: var(--brand-primary);
}

.green-arrow {
  fill: var(--brand-primary);
}

.white-arrow {
  fill: var(--white-color);
}

.green-accent {
  color: var(--brand-primary);
}

.header {
  display: flex;
  margin: 30px 0 96px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__buttons {
  display: flex;
  gap: 14px;
  margin-left: 140px;
}

.header__logo {
  margin-right: 160px;
}

.navigation__list {
  display: flex;
  gap: 50px;
}

.navigation__link {
  text-decoration: none;
  color: black;
}

.hero-section {
  margin-bottom: 96px;
}

.hero-section__container {
  display: flex;
  align-items: center;
  gap: 104px;
}

.hero-section__title {
  font-size: 64px;
  max-width: 656px;
  margin-bottom: 16px;
}

.hero-section__text {
  font-size: 16px;
  margin-bottom: 32px;
}

.clients-section {
  padding-top: 40px;
  padding-bottom: 80px;
}

.clients-section__content {
  text-align: center;
}

.clients-section__title {
  font-size: 36px;
  margin-bottom: 8px;
}

.clients-section__text {
  font-size: 16px;
  margin-bottom: 50px;
}

.clients-section__logos {
  display: flex;
  gap: 140px;
}

.manage-community-section {
  padding-bottom: 66px;
}

.manage-community-section__title {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  margin-bottom: 8px;
  max-width: 520px;
}

.manage-community-section__text {
  font-size: 16px;
  margin-bottom: 50px;
  text-align: center;
}

.manage-community-section__list {
  display: flex;
  gap: 126px;
}

.manage-community-section__item {
  text-align: center;
  max-width: 300px;
}

.manage-community-section__item__title {
  font-size: 28px;
  margin-bottom: 8px;
  text-align: center;
}

.manage-community-section__item__text {
  font-size: 14px;
}

.manage-community-section__item__icon {
  fill: var(--brand-primary-shade);
  background: var(--brand-primary-tint);
  border-radius: 10px 5px 18px 5px;
  padding-top: 3px;
  padding-right: 18px;
  padding-bottom: 18px;
  margin-bottom: 8px;
}

.customers-section__title {
  color: var(--brand-primary);
}

.helping-section__icon {
  fill: var(--brand-primary);
}

.footer {
  background: var(--black-color);
}

.footer__title {
  color: var(--white-color);
}

.footer__nav-element {
  text-decoration: none;
  color: var(--silver-color);
}

.footer__icon {
  text-decoration: none;
}

.social-icon {
  fill: var(--white-color);
  background: var(--dgrey-color);
  border-radius: 50%;
  padding: 7.5px;
}

.copytight {
  color: var(--silver-color);
}
